<form
  class="form-horizontal"
  autocomplete="off"
  #editContactForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditContact' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="contact.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
      
      </tab>
  
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editContactForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
